<div th:fragment="modalSignIn">
    <div class="modal fade" role="dialog" tabindex="-1" id="signin">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="login-box-header">
                    <h4 style="color:rgb(139,139,139);margin-bottom:0;font-weight:400;font-size:27px;">Sign in</h4>
                </div>
                <div class="text-center"><img class="border rounded-circle profile-img-card"
                                              src="assets/img/avatar_2x.png" style="margin-top: 30px;"></div>
                <div class="login-box-content">
                    <div class="fb-login box-shadow"><a class="d-flex flex-row align-items-center social-login-link"
                                                        href="#"><i class="fa fa-facebook"
                                                                    style="margin-left:0;padding-right:20px;padding-left:22px;width:56px;"></i>Continue
                        with Facebook</a></div>
                    <div class="gp-login box-shadow"><a class="d-flex flex-row align-items-center social-login-link"
                                                        style="margin-bottom:10px;" href="#"><i class="fa fa-google"
                                                                                                style="color:rgb(255,255,255);width:56px;"></i>Sign
                        in with Google</a></div>
                </div>
                <div class="d-flex flex-row align-items-center login-box-seperator-container">
                    <div class="login-box-seperator"></div>
                    <div class="login-box-seperator-text">
                        <p style="margin-bottom:0;padding-left:10px;padding-right:10px;font-weight:400;color:rgb(201,201,201);">
                            or</p>
                    </div>
                    <div class="login-box-seperator"></div>
                </div>
                <div class="email-login" style="background-color:#ffffff;"><input type="email"
                                                                                  class="email-imput form-control"
                                                                                  style="margin-top:10px;" required=""
                                                                                  placeholder="Email"
                                                                                  minlength="6"><input type="password"
                                                                                                       class="password-input form-control"
                                                                                                       style="margin-top:10px;"
                                                                                                       required=""
                                                                                                       placeholder="Password"
                                                                                                       minlength="6">
                </div>
                <div class="submit-row" style="margin-bottom:8px;padding-top:0;">
                    <button class="btn btn-primary btn-block box-shadow" id="submit-id-submit" type="submit">Login
                    </button>
                    <div class="d-flex justify-content-between">
                        <div class="form-check form-check-inline" id="form-check-rememberMe"><input
                                class="form-check-input" type="checkbox" id="formCheck-1" for="remember"
                                style="cursor:pointer;" name="check"><label class="form-check-label"
                                                                            for="formCheck-1"><span class="label-text">Remember Me</span></label>
                        </div>
                        <a
                                id="forgot-password-link" href="#">Forgot Password?</a>
                    </div>
                </div>
                <div id="login-box-footer" style="padding:10px 20px;padding-bottom:23px;padding-top:18px;">
                    <p style="margin-bottom:0;">Don't you have an account?<a id="register-link" href="#">Sign Up!</a>
                    </p>
                </div>
                <div class="d-flex flex-column justify-content-center" id="login-box"></div>
            </div>
        </div>
    </div>
</div>

<!--<div th:fragment="modalAddPlayer" role="dialog" tabindex="-1" class="modal fade text-primary show" id="add-player"-->
<!--     style="background-color: #343a40;">-->
<!--    <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header text-uppercase" style="background-color: #343a40;">-->
<!--                <h4 class="modal-title">Add new player</h4>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
<!--                        aria-hidden="true">×</span></button>-->
<!--            </div>-->
<!--            <div class="modal-body" style="background-color: #343a40;">-->
<!--                <div class="col" style="margin-left: 0;">-->
<!--                    <form th:action="@{/addPlayer}" th:object="${Player}" method="post" class="custom-form" style="background-color: rgb(52,58,64);color: rgb(255,255,255);">-->
<!--                        <div class="form-row form-group">-->
<!--                            <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Player-->
<!--                                name </label></div>-->
<!--                            <div class="col-sm-6 input-column"><input type="text" class="form-control" id="username" th:value="*{username}"/></div>-->
<!--                        </div>-->
<!--                        <div class="form-row form-group">-->
<!--                            <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Email </label>-->
<!--                            </div>-->
<!--                            <div class="col-sm-6 input-column"><input type="email" class="form-control" id="email" th:value="*{email}"/></div>-->
<!--                        </div>-->
<!--                        <div class="form-row form-group">-->
<!--                            <div class="col-sm-4 label-column"><label class="col-form-label"-->
<!--                                                                      for="pawssword-input-field">Password </label>-->
<!--                            </div>-->
<!--                            <div class="col-sm-6 input-column"><input type="password" class="form-control" id="password" th:value="*{password}"/></div>-->
<!--                        </div>-->
<!--                        <div class="form-row form-group">-->
<!--                            <div class="col-sm-4 label-column"><label class="col-form-label"-->
<!--                                                                      for="repeat-pawssword-input-field">Repeat-->
<!--                                Password </label></div>-->
<!--                            <div class="col-sm-6 input-column"><input type="password" class="form-control" id="password2" th:value="*{password}"/></div>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="modal-footer" style="background-color: #343a40;">-->
<!--                <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>-->
<!--                <button class="btn btn-primary" type="button">Save</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->