<nav class="navbar navbar-dark navbar-expand-lg sticky-top bg-dark" id="mainNav">
    <div class="container"><a class="navbar-brand" href="#"
                              style="filter: blur(0px);opacity: 1;font-family: Nunito, sans-serif;">TeamSports</a>
        <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right"
                type="button"
                data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-uppercase">
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/events">Events</a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/locations">Locations</a>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="/players">Players</a></li>
            </ul>
            <button class="btn btn-outline-primary" id="btn-signin" type="button" style="margin-left: 50px;"
                    data-toggle="modal" data-target="#signin">Sign in
            </button>
        </div>
    </div>
</nav>